.attribution { font-size: 11px; text-align: center; bottom: 0;}
.attribution a { color: hsl(228, 45%, 44%); }

.container-grid{
    height: 100vh;
    width: 60vw;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4 , 1fr);
    align-content: center;
    justify-content: center;
    gap: 2rem;
    grid-template-areas: "card1 card1 card2 card5"
                         "card3 card4 card4 card5";
}
.card{
    border-radius: 10px;
    border: 1px solid black;
    padding: 2rem;

&__image{
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 1rem;
}    

&__header{
    display: flex;
}

}

#card1{
    grid-area: card1;
    background-color: $moderate-violet;
    color: $white;
}
#card2{
   grid-area: card2;
   background-color: $dark-grey-blue;
}
#card3{
    grid-area: card3;
    background-color: $white;
}
#card4{
    grid-area: card4;
    background-color: $dark-black-blue
}
#card5{
    grid-area: card5;
    background-color: $white;
}
